html, body {
	background: linear-gradient(180deg, rgba(0,0,0,0.45), rgba(0,0,0,0.75)), url("../img/vintage-black-lotus.jpg") no-repeat fixed;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 100%;
	margin: 0 auto;
}

/* body {
	background-image: url("../img/vintage-black-lotus.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background: rgba(42, 42, 42, 0.4);
	margin: 0 auto;
}*/

#logo  {
	/* background: url("../img/EpicPuntsW.png") center center no-repeat;
	background-color: rgba(42,42,42,.4); */
	border: 0px;
	display: block;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	/* width: 250px; */
	height: auto;
}
.logo:hover {
	/* background-color: rgba(42,58,69,.4); */
}

.circular {
	/*border: 4px solid #fff;*/
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	margin-top: 90px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 600px;
	height: 600px;
}
.circular a {
	color: #fff;
	font-size: 16px;
	font-variant: small-caps;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.circular a:hover {
	font-style: #f00;
}
.circular img {
	margin: 0 auto;
	padding: 10px 10px;
	text-align: center;
	width: 50px;
	height: 50px;
}
.circular img:hover {
	filter: invert(100%);
}
.white img {
	border: solid 2px #edc;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	top: 0px;
}
.blue img {
	border: solid 2px #22e;
	border-radius: 50%;
	float: right;
	clear: left;
	margin: 0 auto;
	top: 40px;
}
.black img {
	border: solid 2px #444;
	border-radius: 50%;
	float: right;
	clear: left;
	margin: 0 auto;
	top: 180px;
}
.red img {
	border: solid 2px #e22;
	border-radius: 50%;
	float: left;
	clear: right;
	margin: 0 auto;
	top: 180px;
}
.green img {
	border: solid 2px #2e2;
	border-radius: 50%;
	float: left;
	clear: right;
	margin: 0 auto;
	top: 40px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
	.circular {
		margin: 0 auto;
		padding-top: 60px;
		position: relative;
		text-align: center;
	}
	.circular a {
		color: #fff;
		display: inline-block;
		font-family: Verdana, Arial, sans-serif;
		font-size: 15px;
		font-variant: small-caps;
		position: relative;
		text-align: center;
		text-decoration: none;
	}
	.circular img {
		border: 0;
		margin: 0 auto;
		padding: 2px 15px;
		position: relative;
		text-align: center;
		width: 40px;
		height: 40px;
	}
	.circular img:hover {
		filter: invert(100%);
	}
	.white img {
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 0;
	}
	.white:hover {
		color: #edc;
	}
	.blue img {
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 0;
	}
	.blue:hover {
		color: #22e;
	}
	.black img {
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 0;
	}
	.black:hover {
		color: #444;
	}
	.red img {
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 0;
	}
	.red:hover {
		color: #e22;
	}
	.green img {
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 0;
	}
	.green:hover {
		color: #2e2;
	}
}

.navbar {
	margin: 0 auto;
	padding-top: 35px;
	position: relative;
	text-align: center;
}
.navbar a {
	color: #fff;
	display: inline-block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 15px;
	font-variant: small-caps;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.navbar a:hover {
	
}
.navbar img {
	margin: 0 auto;
	padding: 2px 20px;
	position: relative;
	text-align: center;
	width: 40px;
	height: 40px;
}
/*.navbar img:hover {
	filter: invert(100%);
}*/

.whiteA {
	position: relative;
	text-align: center;
}
.whiteA:hover {
	color: #edc;
}
.whiteA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(242,242,242,0.8));
}
.blueA {
	position: relative;
	text-align: center;
}
.blueA:hover {
	color: #22e;
}
.blueA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(24,24,255,0.8));
}
.blackA {
	position: relative;
	text-align: center;
}
.blackA:hover {
	color: #444;
}
.blackA img:hover {
	filter: drop-shadow(2px 2px 6px rgba(80,80,80,0.8));
}
.redA {
	position: relative;
	text-align: center;
}
.redA:hover {
	color: #e22;
}
.redA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(242,24,24,0.8));
}
.greenA {
	position: relative;
	text-align: center;
}
.greenA:hover {
	color: #2e2;
}
.greenA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(24,242,24,0.8));
}


.spinner {
	margin: 0 auto;
	border: 3px solid #EAF0F6;
	border-radius: 50%;
	border-top: 3px solid #131342;
	width: 30px;
	height: 30px;
	animation: spinner 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	/* animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; */
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



#tweets {
	margin: 0 auto;
	padding: 25px 10px;
	text-align: center;
}

.textSection {
	background-color: rgba(240,240,240,0.7);
	border-radius: 20px;
	/* position: relative;
    z-index: 10; */
    margin: 0 auto;
    padding: 10px;
	text-align: center;
	width: 50%;
}

