html, body {
	background-image: url("../img/vintageBlackLotus.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}
main {
	margin-bottom: 20px;
}

#logo  {
	border: 0px;
	display: block;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}


.navbar {
	margin: 0 auto;
	padding-top: 35px;
	position: relative;
	text-align: center;
}
.navbar a {
	color: #fff;
	display: inline-block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 15px;
	font-variant: small-caps;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.navbar a:hover {
	
}
.navbar img {
	margin: 0 auto;
	padding: 2px 20px;
	position: relative;
	text-align: center;
	width: 40px;
	height: 40px;
}


.whiteA {
	position: relative;
	text-align: center;
}
.whiteA:hover {
	color: #edc;
}
.white img {
	margin: 0 auto;
	text-align: center;
	top: 0px;
}
.whiteA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(242,242,242,0.8));
}
.blueA {
	position: relative;
	text-align: center;
}
.blueA:hover {
	color: #22e;
}
.blue img {
	float: right;
	clear: left;
	margin: 0 auto;
	top: 40px;
}
.blueA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(24,24,255,0.8));
}
.blackA {
	position: relative;
	text-align: center;
}
.blackA:hover {
	color: #444;
}
.black img {
	float: right;
	clear: left;
	margin: 0 auto;
	top: 180px;
}
.blackA img:hover {
	filter: drop-shadow(2px 2px 6px rgba(80,80,80,0.8));
}
.redA {
	position: relative;
	text-align: center;
}
.redA:hover {
	color: #e22;
}
.red img {
	float: left;
	clear: right;
	margin: 0 auto;
	top: 180px;
}
.redA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(242,24,24,0.8));
}
.greenA {
	position: relative;
	text-align: center;
}
.greenA:hover {
	color: #2e2;
}
.green img {
	float: left;
	clear: right;
	margin: 0 auto;
	top: 40px;
}
.greenA img:hover {
	filter: drop-shadow(2px 2px 5px rgba(24,242,24,0.8));
}


.spinner {
	margin: 0 auto;
	border: 3px solid #EAF0F6;
	border-radius: 50%;
	border-top: 3px solid #131342;
	width: 30px;
	height: 30px;
	animation: spinner 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	/* animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; */
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


#tweets {
	margin: 0 auto;
	padding: 25px 10px;
	text-align: center;
}

.textSection {
	align: center;
	background-color: rgba(240,240,240,0.7);
	border-radius: 20px;
	margin: 0 auto;
  	padding: 10px;
	text-align: center;
	width: 50%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	.textSection {
		align: center;
		background-color: rgba(240,240,240,0.7);
		border-radius: 20px;
		margin: 0 auto;
		padding: 8px;
		text-align: center;
		width: 92%;
	}
}



footer {
	align: center;
	background: rgba(6,6,6,0.3);
	border-radius: 20px;
	bottom: 0;
	color: #fff;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	width: 220px;
}
